<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ('./partials/head.ejs') %> 
</head>
<body>
    <div class="error404">
        <img src="/images/Error404.jpg" alt = "Error 404" width = "60%" >
    </div>
    
</body>

