<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/producto.css">    
    
</head>
<body> 
    <%- include ('./partials/header.ejs') %>
    <main>
        <!-- Formulario registro -->
        <form action="/product" method="POST" class="product-form">
            <label><h2>AGREGAR PRODUCTO</h2> </label>
            <hr class="line-break" size="1" width="90%" color="#484747">  
            <div class="control-form-product">
                <label for="name">Nombre:</label>
                <input type="text" name="name" id="name" class="control" autofocus required>
            </div>
            <div class="control-form-product">
                <label for="cepa">Cepa:</label>
                <input type="textarea" name="cepa" id="cepa" class="control" required>
            </div>
            <div class="control-form-product">
                <label for="sugerencia">Sugerencias:</label>                
                <textarea name="sugerencia" id="sugerencia" cols="47" rows="6" class="control" required></textarea>
            </div>
            <div class="control-form-product">
                <label for="notasCata">Nota de cata:</label>
                <textarea name="notasCata" id="notasCata" cols="35" rows="6" class="control" required></textarea>
            </div>
            <div class="control-form-product">
                <label for="precio">Precio:</label>
                <input type="text" name="precio" id="precio" class="control" required>
            </div>
            <div class="control-form-product">
                <label for="Cantidad">Cantidad:</label>
                <input type="text" name="Cantidad" id="Cantidad" class="control" required>
            </div>
            <div class="control-form-product">
                <label for="myfile">Foto del producto:</label>
                <div class="seleccionar">
                    <input type="file" id="myfile" name="myfile" class="product-pic">
                </div>
            </div>
            <button type="submit" class="button-create">AGREGAR PRODUCTO</button>
        </form>
    </main>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>