<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/producto.css">    
    </head>
<body>
    <%- include ('./partials/header.ejs') %>
    <main>
        <div>
            <h3>Administración de productos</h3>
            <button class="buy-button" type="button">Nuevo</button>
        </div>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th> </th>
                <th> </th>
            </tr>
            <tr> <!-- Aca hacemos el for, para recorrer y cargar las variables en td -->
                <td>1</td>
                <td>Thrumpeter</td>
                <td>1018</td>
                <td>50</td>
                <td>EDITAR</td>
                <td>ELIMINAR</td>
            </tr>
        </table>
        


</body>
<%- include ('./partials/footer.ejs') %>
</html>        