<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/producto.css">    
    </head>
<body>
    <%- include ('./partials/header.ejs') %>
    <main>
        <div class='admin-prod'>
            <h3>Administración de productos</h3>
            <button class="buy-button" type="button">Nuevo</button>
        </div>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Acción</th>
            </tr>
            <tr> <!-- Aca hacemos el for, para recorrer y cargar las variables en td -->
                <td>1</td>
                <td>Trumpeter</td>
                <td>1018</td>
                <td>50</td>
                <td>
                    <a href="/producto/3/edit"><i class="fas fa-edit"></i></a>
                    <a href="/producto/3/delete"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            <tr> 
                <td>1</td>
                <td>Trumpeter</td>
                <td>1018</td>
                <td>50</td>
                <td>
                    <a href="/producto/3/edit"><i class="fas fa-edit"></i></a>
                    <a href="/producto/3/delete"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            <tr> 
                <td>1</td>
                <td>Trumpeter</td>
                <td>1018</td>
                <td>50</td>
                <td>
                    <a href="/producto/3/edit"><i class="fas fa-edit"></i></a>
                    <a href="/producto/3/delete"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        </table>
        
        </main>
</body>
<%- include ('./partials/footer.ejs') %>
</html>        