<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/producto.css">    
    </head>
<body>
    <%- include ('./partials/header.ejs') %>
    <main>
        <div>
            <h1>Administración de productos</h1>
            <button class="buy-button" type="button">Nuevo</button>
        </div>
        <table classs="tabla">
            <tr>
                <td>ID</td>
                <td>Nombre</td>
                <td>Precio</td>
                <td>Cantidad</td>
            </tr>
        </table>
        


</body>
<%- include ('./partials/footer.ejs') %>
</html>        