<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/shoppingCart.css">     
</head>
<body>
    <%- include ('./partials/header.ejs') %>
    <main>
        <h1 class="title";>Carrito de compras</h1>
            <div class="line"></div>
            <div class= "first-element"></div>
                <div class= "product-container"> <!-- elemento de carrito -->
                    <div> 
                        <img src="/images/RutiniMalbec.png" alt = "Vino Rutini Malbec" class="product-image">
                    </div>
                    <div> 
                        <div class = "product-name">Colección Rutini Cabernet Franc Malbec
                            <div class="elements">
                                <div class="cantidades">
                                    <i class="fas fa-minus"></i><input type="quantity" class= "place-holder" name="Cantidad" placeholder="1"><i class="fas fa-plus"></i>
                                </div>
                                <div class= "price">
                                    <p>$3.500</p>
                                </div>
                                <div class= "icon-remove">
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class= "second-element"></div>
                <div class= "product-container"> <!-- elemento de carrito -->
                    <div> 
                        <img src="/images/RutiniMalbec.png" alt = "Vino Rutini Malbec" class="product-image">
                    </div>
                    <div> 
                        <div class = "product-name">Colección Rutini Cabernet Franc Malbec
                            <div class="elements">
                                <div class="cantidades">
                                    <i class="fas fa-minus"></i><input type="quantity" class= "place-holder" name="Cantidad" placeholder="1"><i class="fas fa-plus"></i>
                                </div>
                                <div class= "price">
                                    <p>$3.500</p>
                                </div>
                                <div class= "icon-remove">
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></div>
                <div class="line"></div>
                <div class= "third-element"></div>
                <div class= "product-container"> <!-- elemento de carrito -->
                    <div> 
                        <img src="/images/RutiniMalbec.png" alt = "Vino Rutini Malbec" class="product-image">
                    </div>
                    <div> 
                        <div class = "product-name">Colección Rutini Cabernet Franc Malbec
                            <div class="elements">
                                <div class="cantidades">
                                    <i class="fas fa-minus"></i><input type="quantity" class= "place-holder" name="Cantidad" placeholder="1"><i class="fas fa-plus"></i>
                                </div>
                                <div class= "price">
                                    <p>$3.500</p>
                                </div>
                                <div class= "icon-remove">
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
            <div class= "price-container">
                <div>Total</div>
                <div>$4.442 </div>
            </div>
            <div>
            
                <form>
                    <input type="submit" value="Finalizar" class="end-button">
                    <br>
                </form>
            </div>
            
    </main>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>
