* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Sanchez", serif;
}

.product-description h1 {
  border-bottom: 1px solid #484747;
  font-size: 24px;
  padding-bottom: 8px;
  color: #4d4d4d;
  font-weight: 400;
  margin-left: 1em;
  margin-right: 1em;
}

.sugerencias-titulo {
  padding-top: 10px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 1.4em;
  margin-right: 1.4em;
  text-transform: uppercase;
}

.sugerencias-desc {
  font-size: 14px;
  margin-left: 1.4em;
  margin-right: 1.4em;
  font-weight: normal;
  color: #4d4d4d;
}

.sugerencias-notas {
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 1px solid #484747;
  padding-top: 10px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 1.4em;
  margin-right: 1.4em;
  text-transform: uppercase;
}

.place-holder {
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
  text-align: center;
}

.images {
  width: 80%;
  padding-left: 20%;
}

.cantidades {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.button {
  display: flex;
  justify-content: center;
}

.buy-button {
  background-color: #c66;
  color: white;
  font-size: 18px;
  align-items: center;
  border: none;
  padding: 5px 19px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 3px;
  margin: 10px;
}

@media (min-width: 769px) {
  .div-burger {
    display: none;
  }
  .product-detail {
    display: flex;
    justify-content: center;
    max-width: 50%;
    border-left: 20px;
    border-right: 20px;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding-top: 1em;
  }

  .images {
    width: 170%;
    padding-left: 0;
    padding-right: 100px;
  }
}

.product-form,
.login-form {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
  margin: auto;
}
label h2 {
  margin-bottom: 15px;
  font-size: 22px;
  color: #484747;
}
.control-form-product {
  display: flex;
  margin-bottom: 15px;
  width: 95%;
  justify-content: space-between;
  flex-direction: row;
}
.control-form-product .seleccionar {
  display: flex;
  align-items: center;
}
.control-form-product label {
  margin-bottom: 15px;
  margin-top: 15px;
  display: block;
  margin-right: 35px;
}
.control {
  width: 70%;
  padding: 12px;
  border-radius: 7px;
  border: solid 1px black;
}
.line-break {
  margin-bottom: 15px;
  border: 1px solid #c66;
}
.button-create {
  background-color: #c66;
  border: none;
  font-size: 20px;
  color: #fff;
  padding: 7px 25px;
  border-radius: 12px;
  margin-top: 35px;
  margin-bottom: 15px;
}
button:active,
button:hover {
  background-color: rgb(194, 151, 151);
}
a:active,
a:hover {
  color: rgb(194, 151, 151);
}

.control-form-product input {
  outline: none;
  max-width: 350px;
}
.control-form-product input:focus {
  border: 1px solid #c66;
}

@media (min-width: 769px) {
  .register-form,
  .login-form {
    max-width: 550px;
    margin: auto;
  }
}
