* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Sanchez", serif;
}

.title{
    color:rgb(48, 48, 48);
    font-size: 24px;
    font-style: italic;
    margin-bottom: revert;
    margin-top: revert;
    margin-left: 10px;
}
.navigation-bar {
    display: flex;
    list-style: none;
    font-size: 10px;
    justify-content: center;
}
.navigation-bar li {
    padding: 5px;
    margin-top: -12px;
}
.product-container {
    margin-left: 10px;
    display: flex;
    color:rgb(48, 48, 48);
    align-items: center;
}
.first-element {
    margin-top: 10px;
}

.second-element{
    margin-top: 10px;
}

.third-element{
    margin-top: 10px;
}

.product-image {
    width: 75px;
}

.elements{
    display: flex;
    justify-content: left;
    align-items: center;
    min-width: 100;
}

.product-name {
    line-height: 1.4em;
    display: block;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.place-holder{ 
    margin-left: 20px;
    margin-right: 10px;
    width: 40px;
}

.price {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    width: 12%;
}

.icon-remove{
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
    font-size: 12px;
    border-radius: 3px;
    margin-left: 40px;
}

.line{
    border-bottom: solid lightslategrey 1px;
}

.price-container {
    display: flex;
    justify-content: space-evenly;
    margin-right: 24px;
    font-size: 16px;
    align-items: center;
    margin-left: 192px;
}

.end-button{
    background-color: #c66;
    border: none;
    color: white;
    padding: 5px 19px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 3px;
    float: right;
    margin-right: 24px;
}

@media (min-width: 769px) {
    .navigation-bar {
        display: flex;
        justify-content: center;
        list-style: none;
        align-items: center;
        font-size: 20px;
    }
    .navigation-bar li {
        padding: 5px;
        margin-top: -12px;
    }
    .product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }
    .vinos-borde {
    width: 43%;
    }
    .product-container {
    font-size: 20px;
    margin-left: 0px;
    display: flex;
    color: rgb(48, 48, 48);
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    }
    .elements{
    font-size: 20;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 510px;
    }
    .product-name {
        font-size: 22px;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .title{
        color:rgb(48, 48, 48);
        font-size: 30px;
        font-style: italic;
        margin-bottom: -6px;
        margin-top: revert;
        margin-left: 10px;
    }
    .icon-remove{
        border: 0;
        padding: 4px 8px;
        background-color: #c66;
        color: #fff;
        font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
        font-size: 12px;
        border-radius: 3px;}

    .price-container {
        display: flex;
        justify-content: flex-end;
        margin-right: 10%;
        font-size: 16px;
        align-items: center;
        }
    
    .end-button{
        background-color: #c66;
        border: none;
        color: white;
        padding: 5px 19px;
        text-decoration: none;
        font-size: 16px;
        border-radius: 3px;
        float: right;
        margin-right: 10%;
    }
}
@media (min-width: 1280px) {
        .vinos-borde {
        width: 21%;
        }
        .more-products {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        }
        .nav-bar {
        font-size: 26px;
        }
        .user-links li {
        font-size: 28px;
    }

    .line{
        display:none;
    }

    .price-container {
        display: flex;
        justify-content: flex-end;
        margin-right: 20%;
        font-size: 16px;
        align-items: center;
        gap: 1em;
    }

    .end-button{
        display: flex;
        background-color: #c66;
        border: none;
        color: white;
        padding: 5px 19px;
        text-decoration: none;
        font-size: 16px;
        align-items: center;
        flex-wrap: nowrap;
        border-radius: 3px;
        justify-content: space-evenly;
        align-content: center;
        margin-right: 20%;
    }

        .elements{
            position: relative;
            bottom: 0px;
            left: 0px;
            height: auto;
            width: auto;
        }

    /*   .product-name {
            display: flex;
            line-height: 1.4em;
            display: flex;
        } */

        .product-name{
            font-size: 22px;
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            flex-direction: row;
        }


    .title{
        color:rgb(48, 48, 48);
        font-size: 30px;
        font-style: italic;
        margin-bottom: -6px;
        margin-top: revert;
        margin-left: 200px;
    }
}