/* Estilo header */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Sanchez", serif;
}
a {
  text-decoration: none;
  color: #484747;
}
a:active,
a:hover {
  color: rgb(204, 198, 198);
}
.social-media {
  display: none;
}

.nav-bar {
  display: none;
}

.user-links ul {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}

.user-links li {
  margin: 0.5em;
  color: #484747;
  font-size: 22px;
}

.burger-menu {
  color: white;
  margin: auto;
  width: 40px;
  height: 40px;
  font-size: 30px;
  padding: 1px;
  background-color: #484747;
  text-align: center;
  border-radius: 10px;
  line-height: 42px;
}

/* Estilo main */
.promos {
  width: 400px;
  margin: auto;
  max-width: 100%;
  background-color: #2c2b2b;
}
.images {
  max-height: 600px;
}
.vinos-borde {
  margin: 25px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  background-color: rgb(204, 198, 198);
  position: relative;
  border-radius: 40px;
}

.coleccion {
  font-size: 18px;
  color: 484747;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.cepa {
  font-size: 16px;
  color: #484747;
  margin: 1px;
  text-align: center;
  padding: 5px;
}

.precio {
  font-size: 16px;
  color: #484747;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
}

.fa-cart-plus {
  font-size: 30px;
  color: white;
  margin: auto;
  width: 40px;
  height: 40px;
  text-align: center; /* Como corno lo meto en el medioooo!!!! */
  padding: 5px;
  margin-bottom: 4px;
}
.product-description {
  display: flex;
  flex-direction: column;
}

/* Dropdown Button */
.dropbtn {
  background-color: #ffffff;
  color: #484747;
  font-size: 24px;
  border: none;
}
.dropbtn-burger {
  background-color: #ffffff;
  color: #484747;
  font-size: 24px;
  border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-burger {
  position: relative;
  display: inline-block;
}
.div-burger {
  display: flex;
  justify-content: center;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 12px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(204, 198, 198);
  padding: 3px;
}

.dropdown-burger:hover .dropdown-content {
  display: block;
}

.dropdown-burger:hover .dropbtn {
  background-color: rgb(204, 198, 198);
  padding: 3px;
}
.more-products {
  display: none;
}

/* estilo footer */
footer {
  background-color: #484747;
  display: flex;
  justify-content: space-around;
}

.logo-footer {
  max-width: 200px;
}
.social-media-footer ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  font-size: 20px;
  align-items: center;
  flex-direction: column;
}
.social-media-footer li {
  padding: 7px;
  color: white;
}
.payment-methods-footer ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  font-size: 20px;
  align-items: center;
  flex-direction: column;
}
.payment-methods-footer li {
  padding: 7px;
  color: white;
}
main {
  margin-bottom: 34px;
}
@media (min-width: 769px) {
  .div-burger {
    display: none;
  }
  .nav-bar {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    font-size: 20px;
  }
  .nav-bar li {
    padding: 5px;
    margin-top: -12px;
  }
  .product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .vinos-borde {
    width: 43%;
  }
}
@media (min-width: 1280px) {
  .vinos-borde {
    width: 21%;
  }
  .more-products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .nav-bar {
    font-size: 26px;
  }
  .user-links li {
    font-size: 28px;
  }
}
