<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ('../partials/head.ejs') %>  
    <link rel="stylesheet" href="/css/registro.css">   
    
</head>
<body>
    <%- include ('../partials/header.ejs') %>
    <main>
        <form action="/user/login" method="POST" class="login-form">
            <label><h2>INICIÁ SESIÓN</h2> </label>
            <div class="control-form-login">
                <label for="email">Correo electrónico:</label>
                <input type="email" idr="email" name="email" placeholder="Correo electrónico" class="control-login" autofocus required>
            </div>
            <div class="control-form-login">
                <label for="passoword">Contraseña:</label>
                <input type="password" id="passoword" name="password" placeholder="Contraseña" class="control-login" required>
                <div class="forgot-pass">
                    <a href="#"><strong>¿Olvidaste tu contraseña?</strong></a>
                </div>
                <div class="remember-login">
                    <input type="checkbox" name="remember" value="remember" id="remember">
                    <label for="remember">Recordar mis datos</label>
                </div>
            </div>
            <button type="submit" class="button-login">INICIÁ SESIÓN</button>
            <hr class="line-break" size="1" width="90%" color="#484747">  
            <div class="go-login">
                <label>¿Todavía no tenés cuenta? <a href="/user/registro"><strong>Registrate.</strong></a></label>
            </div>
        </form>
    </main>
    <%- include ('../partials/footer.ejs') %>
</body>
</html>